header{
    position: fixed;
    background-color: #050505;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px var(--gray);
    top: 0;
    padding: 2% 0;
    z-index: 10;
}
header>div{
    margin: 0 4%;
}
header>#name-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
header>#name-div>h3{
    color: white;
    font-size: clamp(0.8rem, 3vw, 1.5rem);
    margin: 4% 0;
    font-weight: 700;
}
header>#name-div>p{
    color: var(--light-blue);
    font-size: 2rem;
    margin: -0.5% -0.5% 0 -0.5%;
}
header>#list{
    list-style: none;
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    flex-wrap: wrap;
    width: 40%;
    align-items: center;
    font-weight: 550;
    font-family: 'Outfit';
}
header>#list>li>a{
    font-size: clamp(1rem, 4vw, 1rem);
}
header>#list>li:last-child{
    margin: 0;
    width: 10rem;
}
header>#list>li>#contacter{
    border-radius: 25px;
    background-color: var(--purple);
    padding: 3% 1%;
    display: block;
    width: 100%;
}
header>#list>li{
    /* margin: 0 4%; */
    width: 20%;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    header>#list{
        width: 50%;
    }

}

@media screen and (max-width: 982px) {
    header{
        flex-direction: column;
        padding: 4% 0;
    }
    header>#list{
        margin-top: 4%;
        width: 100%;
        /* justify-content: space-between; */
        
    }
    header>#list>li {
        margin: 0 3%;
    }
    header>#list>li:last-child{
        margin: 0 3%;
        width: auto;
    }
    header>#list>li>#contacter{
        padding: 10% 10%;
    } /*
    header>#list>li>#contacter {
    width: 75%;
    } */
}

@media screen and (max-width: 650px) {
    header>#list>li {
        margin: 0 2%;
    }
    header>#list>li:last-child{
        margin: 0 2%;
    }
}
@media screen and (max-width: 460px) {
    header>#list>li {
        margin: 0 1%;
    }
    header>#list>li:last-child{
        margin: 0 1%;
    }
}