
#presentation{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    margin-top: 5%;
}
#presentation>h4{
    margin-bottom: 2%;
    border: solid 1px var(--purple-dev);
    background-color: rgba(40, 41, 93, 0.4);
    padding: 1%;
    font-family: 'Outfit'; font-weight: 400;
    color: rgba(165, 180, 252, 0.9);
    border-radius: 25px;
}
#presentation>div{
    display: flex;
    flex-direction: row;
}
#presentation>div>h1{
    margin: 0 1%;
    font-family: 'Outfit';
    font-size: 6rem;
}
#presentation>div>#tom{
    background: linear-gradient(90deg, #818cf8, #c084fc, #f472b6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200%;
    animation: moveGradient 3s infinite linear;
}
#presentation>div>h3{
    margin: 4vh 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Fira Code';
    color: rgba(129, 140, 248, 0.8);
}
#presentation>div>h3:last-child{
    margin-left: -1%;
    font-family: 'Fira Code';
    color: gray;
}
#presentation>#link{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}
#presentation>div>a{
    margin: 0 1%;
    display: block;
    text-align: center;
    border-radius: 25px;
    background-color: white;
    color: black;
    padding: 1.5%;
    border: solid 1px #282828;
    width: 15%;
    font-weight: 600;
}
#presentation>div>a:first-child i{
    transition: all 0.5s ease;
}
#presentation>div>a:last-child{
    color: white;
    background-color: var(--github);
    width: 8%;
}
#presentation>div>a:last-child:hover{
    background-color: var(--github-hover);
}
#presentation>div>a:last-child>i{
    margin-right: 10%;
}
#presentation>div>a:first-child:hover i{
    margin-left: 5%;
}

@keyframes moveGradient{
    0% { background-position: 0% }
    50% { background-position: 100% }
    100% { background-position: 50%;}
}
