#projets{
    margin: 5% 0;
    display: flex;
    flex-direction: column;
}
#projets>h2{
    padding: 7% 0;
    font-size: 1.5rem;
    text-align: center;
}
.projet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.projet-box{
    border: none;
    padding: 1%;
    margin: 1% 3%;
    width: 20%; height: auto;
    text-align: center;
    border-radius: 12px;
    box-shadow: 2px 2px 10px rgba(255,255,255,0.2);
    transition: all 0.3s ease;
}
#projets>div>div>p{
    width: 100%;
    margin: 2.5% 0;
    font-size: 0.8rem;
    font-family: 'Fira Code';
}
#projets>div>div>a{
    text-decoration: underline;
    text-underline-offset: 30%;
}
.projet-box>div{
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}
.projet-box>div>img{
    width: 100%;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.projet-box:hover{
    box-shadow: 4px 4px 20px rgba(129, 140, 248, 0.4);
}
.projet-box:hover>h3{
    color: #818cf8;
}
.projet-box:hover>div>img{
    scale: 1.02;
}