:root{
    --font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --gray: #121212;
    --green: #4eab70;
    --purple: #4338ca;
    --purple-dev: #28295d;
    --github: #0d0d0d;
    --github-hover: #1e1e1e;
    --light-blue: #6366f1;
}
::-webkit-scrollbar{
    display: none;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #191e2b,#253045);
    color: white; padding: 0; margin: 0;
}
a{
    color: white;
    text-decoration: none;
}

#bg-canvas {
    position: fixed;
    background-color: #050505;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

footer{
    background-color: #ffffff08;
    width: 100%;
    text-align: center;
    padding: 2% 0;
    font-size: 0.9rem;
    color: gray;
}
footer>p{
    margin: 2%;
}